
.icon-chart-bar-1:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-monitor:before { content: '\e803'; } /* '' */
.icon-money:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-videocam-alt:before { content: '\e806'; } /* '' */
.icon-phone-circled:before { content: '\e807'; } /* '' */
.icon-videocam:before { content: '\f03a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-chart-bar:before { content: '\f526'; } /* '' */
